.main__container {
  position: relative;
  width: 100%;
}

.login__container {
  position: absolute;
  top: 20%;
  left: 35%;
  margin: 0px auto 0px;
  width: 30%;
  background-color: #80b192;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}

img {
  width: 100%;
  height: 600px;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.login__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 10px;
}
.w--full {
  width: 100%;
}

.mx--auto {
  margin-left: auto;
  margin-right: auto;
}

.font--tangarine {
  font-family: "Tangerine", serif;
  font-size: 48px;
}
.font--sofia {
  font-family: "Sofia", sans-serif;
  font-size: 32px;
}
.mt--20 {
  margin-top: 20px;
}

.pt--10 {
  padding-top: 10px;
}

@media (max-width: 800px) {
  .login__container {
    position: absolute;
    top: 10%;
    left: 10%;
    margin: 0px auto 0px;
    width: 80%;
    background-color: #80b192;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
  }
  .login__form {
    margin: 10px auto 5px;
    width: 80%;
    padding: 10px 5px;
  }
}
